body.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  overflow-y: hidden;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.teachers {
	background: url(../img/th-teachers.jpg)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.koru {
	background: url(../img/th-koru.gif)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.tamed {
	background: url(../img/th-tamed.gif)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.magic {
	background: url(../img/th-magic.gif)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.adulting {
	background: url(../img/th-adulting.jpg)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.typehype {
	background: url(../img/th-typehype.gif)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.blacklight {
	background: url(../img/th-blacklight.jpg)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.calendar {
	background: url(../img/th-calendar.gif)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.bridesmaids {
	background: url(../img/th-bridesmaids.jpg)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.portrait {
	background: url(../img/th-portrait.jpg)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.collecting {
	background: url(../img/th-collecting.jpg)!important;
	background-position: center center!important;
	background-size: cover!important;
}
.mousepads {
	background: url(../img/th-mousepads.gif)!important;
	background-position: center center!important;
	background-size: cover!important;
}

.scene {
  -webkit-transform: translateY(-5vh) rotateX(45deg) rotate(45deg);
          transform: translateY(-5vh) rotateX(45deg) rotate(45deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}
html:hover .scene {
  -webkit-transform: translateY(0) rotateX(0) rotate(0);
          transform: translateY(0) rotateX(0) rotate(0);
}

.grid {
  display: block;
  width: 660px;
  height: 900px;
}

.grid-item {
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  opacity: 0.97;
  margin: 0!important;
  width: 220px;
  height: 220px;
}
.grid-item:before, .grid-item:after {
  display: block;
  position: absolute;
  content: '';
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
html:hover .grid-item:before, html:hover .grid-item:after {
  opacity: 0;
}
.grid-item:before {
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.grid-item:after {
  left: 100%;
  top: 0;
  bottom: 0;
  width: 100vh;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.z1 {
  z-index: 1;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.z2 {
  z-index: 1;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.z3 {
  z-index: 1;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.z4 {
  z-index: 1;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.z5 {
  z-index: 1;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.z6 {
  z-index: 1;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.z7 {
  z-index: 1;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}

.z8 {
  z-index: 1;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

.z9 {
  z-index: 1;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}

.z10 {
  z-index: 1;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.z11 {
  z-index: 1;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
}

.z12 {
  z-index: 1;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}

.z13 {
  z-index: 1;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
}

.z14 {
  z-index: 1;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
}

.z15 {
  z-index: 1;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

@-webkit-keyframes float {
  from, to {
    -webkit-transform: translateZ(-20px) scale(0.85);
            transform: translateZ(-20px) scale(0.85);
  }
  50% {
    -webkit-transform: translateZ(20px) scale(0.85);
            transform: translateZ(20px) scale(0.85);
  }
}

@keyframes float {
  from, to {
    -webkit-transform: translateZ(-20px) scale(0.85);
            transform: translateZ(-20px) scale(0.85);
  }
  50% {
    -webkit-transform: translateZ(20px) scale(0.85);
            transform: translateZ(20px) scale(0.85);
  }
}
.grid-item.link {
  display: block;
  text-align: center;
  font: 35px/76px Lato, sans-serif;
  text-decoration: none;
  color: white;
}

@media (max-width:1199px) {
	
	
	
}

@media (max-width:959px) {
	
/*
.grid-item {
  width: 160px;
  height: 160px;
}

.grid {
  width: 480px;
}
*/	
	
}

@media screen and (max-width:767px) {
	
.grid-item {
  width: 120px;
  height: 120px;
}	

.grid {
  width: 360px;
}

body.home {
  display: inherit!important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll!important;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
	
}

@media screen and (max-width:479px) {

	
}
