html, body {
	height: 100%!important;
	width: 100%!important;
}

body {
	font-family: "soleil", sans-serif!important;
}

/* ————— Home —————————————————————————————— */

.home .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: ease 1.5s;
    transition: ease 1.5s;
}

.home .container:hover {
    top: 80px;
    transform: translateY(0);
}

.home .container:hover .portfolio {
  -webkit-transform: translateY(0) rotateX(0) rotate(0);
          transform: translateY(0) rotateX(0) rotate(0);
}

.portfolio {
	-webkit-transform: translateY(0) rotateX(45deg) rotate(45deg);
          transform: translateY(0) rotateX(45deg) rotate(45deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  top: 50%;
}

.portfolio-item {
	margin: 0!important;
	padding: 0!important;
	-webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    opacity: 1!important;
}

.portfolio-item:nth-of-type(9), .portfolio-item:nth-of-type(10), .portfolio-item:nth-of-type(11), .portfolio-item:nth-of-type(12) {
	margin-bottom: 0;
}

.portfolio-item:hover {
	cursor: cell;
}

.z1 {
  z-index: 1;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.z2 {
  z-index: 1;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.z3 {
  z-index: 1;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.z4 {
  z-index: 1;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.z5 {
  z-index: 1;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.z6 {
  z-index: 1;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.z7 {
  z-index: 1;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}

.z8 {
  z-index: 1;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}

.z9 {
  z-index: 1;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}

.z10 {
  z-index: 1;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.z11 {
  z-index: 1;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
}

.z12 {
  z-index: 1;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}

.z13 {
  z-index: 1;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
}

.z14 {
  z-index: 1;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
}

.z15 {
  z-index: 1;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

@-webkit-keyframes float {
  from, to {
    -webkit-transform: translateZ(-20px) scale(0.85);
            transform: translateZ(-20px) scale(0.85);
  }
  50% {
    -webkit-transform: translateZ(20px) scale(0.85);
            transform: translateZ(20px) scale(0.85);
  }
}

@keyframes float {
  from, to {
    -webkit-transform: translateZ(-20px) scale(0.85);
            transform: translateZ(-20px) scale(0.85);
  }
  50% {
    -webkit-transform: translateZ(20px) scale(0.85);
            transform: translateZ(20px) scale(0.85);
  }
}

/* ————— Project Page —————————————————————————————— */

.titlebar {
    height: 500px;
    background-size: cover;
    background-position: center center;
    margin: 15px 0 80px;
}

.project-description {
    margin-bottom: 80px;
}

.project-images img {
	margin-bottom: 30px;
}

p#back-top {
    margin-bottom: 80px;
}

/* ————— Nav —————————————————————————————— */

.logo {
	position: fixed!important;
	top: 30px;
	left: 30px;
	z-index: 999999!important;
}

.navigation {
	position: fixed!important;
	top: 30px;
	right: 30px;
	z-index: 999999!important;
}